<section id="productos" class="container py-5">
  <h2 class="text-center fw-bold text-danger mb-4">Productos Hikvision Compatibles</h2>

  <!-- Filtro -->
  <div class="text-center mb-4">
    <button 
      *ngFor="let categoria of categorias"
      class="btn m-1"
      [ngClass]="categoriaSeleccionada === categoria.id ? 'btn-danger' : 'btn-outline-secondary'"
      (click)="filtrar(categoria.id)">
      {{ categoria.nombre }}
    </button>
  </div>

  <!-- Productos -->
  <div class="row gy-4 mt-3">
    <div class="col-12 col-sm-6 col-lg-3" *ngFor="let producto of productosFiltrados">
      <div class="card shadow-sm rounded-4 overflow-hidden border-0 animate__animated animate__fadeInUp">
        <img [src]="producto.imagen" alt="{{ producto.nombre }}" class="card-img-top">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark">{{ producto.nombre }}</h5>
          <p class="card-text text-muted">{{ producto.descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
